.image-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90vh;
}

.image {
  width: 60vh;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.slider-left {
  margin-left: 10px;
  margin-top: 10px;
}

.slider-right {
  margin-left: 10px;
  margin-top: 10px;
}

.label {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 0px;
  margin-top: 5px;
}

.label-left {
  margin-right: auto;
}

.label-right {
  margin-left: 20px;
}

.labels {
  display: flex;
  margin-top: 10px;
}

.reset {
  margin-top: -5px;
  margin-left: 0px;
}


.button-reset {
  font-size: 14px;
  padding: 2px;
  width: 50px;
  border: #3151f1;
  border-radius: 4px;
  background-color: #007bff;
  color: #fbf6f6;
}

button:hover {
  background-color: #7c97f8;
  color: #fff;
  border-color: #3151f1;
}