.galclass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 0px;
}

.galclass-left {
  align-items: flex-end;
  margin-right: 15px;
}

.galclass-right {
  align-items: flex-start;
  margin-left: 15px;
  margin-top: -180px;
}

@media screen and (max-width: 768px) {
  .galclass-container {
    flex-direction: column;
    padding: 0px;
  }

  .galclass-left,
  .galclass-right {
    width: 100%;
    margin: 0;
  }
}

.galclass-left__prev,
.galclass-left__next {
  top: 65%;
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  width: 80px;
  height: 50px;
}

.galclass-left__prev {
  margin-left: 10px;
  background-image: url("/array_next.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.galclass-left__next {
  margin-left: 380px;
  background-image: url("/array_prev.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.galclass-left__prev:hover,
.galclass-left__next:hover {
  opacity: 1;
  background-color: transparent;
}
