.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  margin-right: 50px;
}

.image-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 5px;
  padding: 0 10px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: left;
}

.option:hover .option-circle {
  border-color: #007bff;
}

.option.selected .option-circle {
  background-color: #007bff;
  border-color: #007bff;
}

.option-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0;
  border: 2px solid #000;
}

.submit-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.submit-text {
  margin-right: 10px;
  font-size: 24px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}