.sele-card {
  font-family: sans-serif;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #f5f1f1;
  border-radius: 5px;
  margin-top: -50px;
  padding-top:10px;
  padding-bottom:10px;
}

.question-text {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
  margin-top: 0px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answer-button {
  width: 360px;
  height: 50px;
  margin-left: 20px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.answer-button.selected {
  background-color: #007bff;
  color: #fff;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.button-step {
  font-size: 18px;
  padding: 5px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #171616;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.result-section {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}